// importing mixin
@import '../../styles/mixin';


// styling cookies banner starts right here
.cookies-container-active {
    @include measurement (100%, 400px);

    background-color: var(--body-color);
    color: var(--font-color);
    transition: all 400ms ease;
    box-shadow: 0 -2px 16px var(--footer-box-shadow);

    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: var(--z-modal);

    display: block;

    .cookies-sub-container {
        text-align: justify;
        margin: 80px 60px;

        @include mobile {
            margin: 40px 60px;
        }

        h1 {
            color: var(--first-color);
            font-size: 2rem;

            @include mobile {
                font-size: 1.5rem;
            }
        }

        p {
            font-size: 1.3rem;

            @include mobile {
                font-size: 0.9rem;
            }

            a {
                color: var(--font-color);
                font-weight: 800;

                &:hover {
                    color: var(--first-color);
                }
            }
        }
    }

    .manage {
        margin: 80px 60px;

        @include mobile {
            margin: 50px 60px;
        }

        a {
            text-decoration: underline;
            font-weight: 400;
            margin-left: 50px;
            font-size: 1.4rem;
            color: var(--font-color);

            @include mobile {
                font-size: 1rem;
            }

            &:hover {
                color: var(--first-color);
            }
        }
    }
}

.cookies-container-hide {
    display: none;
}