@import "../../../styles/mixin";

.friend-component {
    .friends-box {
        width: 100%;
        margin-top: 20px;

        /* @include tablet{
        border: solid 1px white;
        width:100vw
    } */

        .one-friend-box {
            border-bottom: 1px solid var(--first-color);

            padding: 20px;
            display: flex;
            align-items: center;
            justify-content: space-between;

            .friend-data {
                width: 100%;
                display: flex;
                align-items: center;
                justify-content: space-between;

                .friend-data-1st-box {
                    display: flex;
                    padding: 20px;
                    align-items: center;

                    .avatar {
                        height: 40px;
                        width: 40px;
                        margin-right: 10px;
                        border-radius: 50%;
                        background-color: chocolate;

                        display: flex;
                        justify-content: center;
                        align-items: center;
                    }

                    .friend-name {
                        line-height: 1.6;
                    }
                }

                .friend-buttons-div {
                    display: flex;
                    flex-direction: column;

                    button {
                        margin-top: 5px;
                    }
                }
            }
        }
    }

    /* .error-alert {
        color: red;
        position: absolute;
        top: 50%;
        left: 50%;
    } */

    .cover-outside-card {
        /* position: fixed;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.6);
    left: 0;
    top: 0;
    z-index: 1000; */

        .hidden {
            visibility: hidden;
        }

        .common-movies-card {
            border: solid 2px var(--first-color);
            border-radius: 5px;
            margin-top: 20px;
            //width: 80%;
            width: 60vw; // alina
            position: relative;
            padding-top: 20px;

            //Alina
            /* width: 50vw;
        height: 65vh;
        min-height: 370px;
        overflow-y: scroll; */

            position: absolute;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
            background-color: #333333;
            box-shadow: 0 0 10px var(--first-color);

            //Alina
            //-ms-overflow-style: none; /* Hide scrollbar for IE and Edge */
            //scrollbar-width: none; /* Hide scrollbar for Firefox */

            /* Hide scrollbar for Chrome, Safari and Opera */
            // &::-webkit-scrollbar {
            display: none;
        }

        h3 {
            color: var(--first-color);
            text-align: center;
            padding-bottom: 15px; //Alina

            span {
                text-decoration: underline;
                text-underline-position: under; //Alina
            }
        }

        //Alina
        button#closeCard {
            width: 50px;
            height: 50px;
            border-radius: 50%;
            position: absolute;
            right: -25px;
            top: -25px;
            font-size: 2rem;
            z-index: 200;
            color: var(--font-color);
            background-color: var(--first-color);

            &:hover {
                background: transparent;
                color: var(--first-color);
            }
        }

        .one-movie-box {
            border-bottom: 1px solid var(--first-color);
            margin: 10px;
            padding: 30px;
            display: flex;
            justify-content: space-between;
            align-items: center;

            .one-movie-box-data {
                display: flex;

                img {
                    height: 150px;
                    margin-right: 15px;
                    border: solid;
                }

                .movie-data {
                    line-height: 1.6;

                    p {
                        color: var(--first-color);
                        span {
                            color: white;
                        }
                    }
                }
            }

            .closeCardDiv {
                width: 40px;
                height: 40px;
                position: -webkit-sticky;
                position: absolute;
                //position:sticky;
                right: 0;
                top: 0;
                // right: -20px;
                // top: -20px;

                #closeCard {
                    margin-left: auto;
                    margin-right: 5%;
                    width: 100%;
                    height: 100%;
                    padding: 3px 0;
                    font-weight: bold;
                    color: var(--font-color);
                    background-color: var(--first-color);
                    border: 3px solid var(--first-color);
                    border-radius: 50%;
                    text-transform: uppercase;
                    cursor: pointer;
                    transition: all 0.5s ease-in-out;
                    background: transparent;
                    color: var(--first-color);

                    &:hover {
                        background: transparent;
                        color: var(--first-color);
                        transition: all 0.5s ease;
                        color: var(--font-color);
                        background-color: var(--first-color);
                    }
                }
            }
        }
    }
}
