.movie-list-container {
    margin: 2% auto;
    width: 70%;

    .div-container {
        display: flex;
        justify-content: space-between;
        border-bottom: 1px dotted var(--first-color);
        margin-bottom: 2rem;
        padding-bottom: 1rem;

        .movie-list-heading {
            width: 75%;
           
            color: var(--first-color);
            display: flex;
            justify-content: space-between;
    
            h2 {
                font-size: 2rem;
            }
        }

        div {
            width: 25%;
            text-align: right;
        }
        
    }

    .movie-list {
        margin: 0 auto;
        display: flex;
        flex-direction: column;

        .click-on-poster {
            color: var(--first-color);
            margin-bottom: 30px;
            font-style: italic;
        }

        .individual-movie-section {
            display: flex;
            justify-content: space-between;
            margin-bottom: 2rem;
            border-bottom: 1px solid var(--first-color);
            padding-bottom: 10px;
            min-height: 150px;

            section {
                min-height: 150px;
                // border-right: 1px dotted var(--first-color);
                font-size: 0.9rem;
                overflow: hidden;

                &:first-of-type {
                    width: fit-content;
                    height: fit-content;
                    margin-right: 20px;
                    overflow: visible;

                    .poster {
                        height: 100%;

                        img {
                            height: 150px;
                            object-fit: cover;
                            border: 2px solid white;
                        }
                    }

                    &:hover {
                        cursor: pointer;
                        box-shadow: 0 0 15px var(--first-color);
                        transform: scale(1.07, 1.07); 
                        transition: all 0.4s ease-in-out;                              
                    }
                }

                &:nth-of-type(2) {
                    width: 20%;

                    p {
                        color: var(--first-color);
                        margin-bottom: 0.3rem;

                        span {
                            color: white;
                        }
                    }

                    a {
                        background-color: var(--first-color);
                        color: var(--title-color);
                        padding: 2px 5px;
                        border-radius: 0.4rem;
                        border: 2px solid inherit;
                        display: inline-block;
                        font-weight: 600;

                        &:hover {
                            background-color: inherit;
                            border: 2px solid var(--first-color);
                            color: var(--first-color);
                        }
                    }
                }

                &:nth-of-type(3) {
                    width: 45%;
                    display: flex;
                    flex-direction: column;
                    justify-content: space-between;

                    h4 {
                        color: var(--first-color);
                        margin-bottom: 0.4rem;
                        padding-top: 0.3rem;
                    }

                    span {
                        padding: 0 0.5rem;
                        border-right: 1px solid white;
                        border-left: 1px solid white;
                    }
                }

                &:nth-of-type(4) {
                    width: 15%;

                    button {
                        margin-left: auto;
                        width: 100%;
                        padding: 0.2rem 0;
                        margin: 0.5rem 0;
                        font-weight: bold;
                        color: var(--font-color);
                        background-color: var(--first-color);
                        border: 3px solid var(--first-color);
                        border-radius: 5px;
                        text-transform: uppercase;
                        cursor: pointer;
                        transition: all 0.5s ease-in-out;
                        background: transparent;
                        color: var(--first-color);

                        &:hover:nth-of-type(1),
                        &:hover:nth-of-type(2) {
                            background: transparent;
                            color: var(--first-color);
                            transition: all 0.5s ease;
                            color: var(--font-color);
                            background-color: var(--first-color);
                        }

                        &:nth-of-type(3) {
                            background: #333333;
                            border: 3px solid #494949;
                            cursor: auto;
                            color: var(--font-color);
                        }
                    }
                }
            }
        }

        .on-picker {
            border: 2px solid var(--first-color);
            padding: 20px;
            transform: scale(1.08, 1.08);
            box-shadow: 3px 4px 6px var(--first-color);
            background-color: rgba(253, 253, 253, 0.233);
        }

        .go-top {
            font-size: 1.5rem;
            position: fixed;
            bottom: 20px;
            right: 20px;
            z-index: 100;

            i {
                color: var(--first-color);
                border: 1px solid var(--first-color);
                padding: 10px;
                border-radius: 50%;

                &:hover {
                    color: var(--first-color);
                    background-color: var(--title-color);
                    border: 1px solid transparent;
                    cursor: pointer;
                }
            }
        }
    }
}
