@import '../../styles/mixin';

.description-app-section {
    width: 30%;
    height: 450px;
    // background-color: #2f251ca4;
    border-radius: 10px;
    
    position: absolute;
    top: 150px;
    left: 100px;

    @include tablet {
        height: auto;
        width: 50%;
        margin: 80px 0 0 12%;
    }

    @include mobile {
        height: 300px;
        width: 80%;
        top: 100px;
        left: -8px;
    }

    .description-container {
        padding: 15px;

<<<<<<< HEAD
        .title {
            text-align: center;
            font-size: 2em;
            color: var(--first-color);

            @include tablet {
                font-size: 1.6em;
            }

            @include mobile {
                font-size: 1.2em;
            }
        }

=======
>>>>>>> development
        .paragraph {
            margin-top: 20px;
            text-align: left;
<<<<<<< HEAD
            font-size: .9rem;
            letter-spacing: 0.1rem;
=======
            margin: 30px 0;

            .text-top {
                margin: 30px 10px;
                width: 22ch;
                animation: typing .7s steps(22), blink .8s step-end infinite alternate;
                white-space: nowrap;
                border-right: 2px solid var(--container-color);
                color: var(--first-color);
                overflow: hidden;
                font-size: 1.2em;

                @keyframes typing {
                    from {
                        width: 0
                    }
                }
                          
                @keyframes blink {
                    50% {
                        border-color: transparent
                    }
                }
            }
>>>>>>> development

            @include tablet {
                font-size: .7rem;
            }

            @include mobile {
                font-size: .6rem;
            }
<<<<<<< HEAD
=======

            .animation-process {
                margin: 0 0 0 60px;

                li {
                    padding-bottom: 15px;
                }

                .fas {
                    padding: 0 10px 0 0;
                    color: var(--first-color);
                }
            }
>>>>>>> development
        }
    }
}