@import '../../styles/mixin';

.description-app-section {
    width: 30%;
    height: 450px;
    //background-color: #2f251ca4;
    border-radius: 5%;
    
    position: absolute;
    top: 130px;
    left: 100px;

    @include tablet {
        height: auto;
        width: 50%;
    }

    .description-container {
        padding: 15px;

        .title {
            text-align: center;
            font-size: 2em;
            color: var(--first-color);
        }

        .paragraph {
            margin-top: 20px;
            text-align: left;
            font-size: .9rem;
            letter-spacing: 0.1rem;

            @include tablet {
                font-size: .6rem;
            }
        }
    }
}