@import "../../styles/mixin";

.user-profile-container {
    // border: 1px lime solid;
    margin: 0 auto;
    padding: 1.7% 0 20px;
    width: 70%;

    @include tablet {
        width: 80%;
    }

    @include mobile {
        width: 95%;
    }

    header {
        width: 100%;
        border-bottom: 1px dotted var(--first-color);
        margin-bottom: 1.8rem;
        padding-bottom: 1rem;
        color: var(--first-color);

        h2 {
            font-size: 2rem;
        }
    }

    .main-wrapper {
        width: 100%;
        // border: solid 1px fuchsia;
        display: flex;
        justify-content: space-evenly;

        @include tablet {
            justify-content: space-around;
        }
    
        @include mobile {
            flex-flow: column;
        }

        main {
            // justify-items: flex-end;
            // border: solid 1px blue;
            width: 320px;
            // border: solid 1px orange;


            @include mobile {
                width: 95%;
                margin: 0 auto;
            }

            .display-user-container {
                width: 100%;
                display: flex;
                align-items: center;
                margin-bottom: 20px;
                // border: solid 1px white;

                .avatar {
                    min-width: 70px;
                    min-height: 70px;
                    // border: solid 1px white;
                    border-radius: 50%;
                    background-color: chocolate;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    margin-right: 20px;
                }
            }

            .hidden {
                visibility: hidden;
            }

            .alert-delete-success {
                width: 300px;
                margin: 20px;
                padding: 10px;
                color: white;
                text-align: center;
                background-color: var(--first-color);
                border-radius: 5px;
            }

            .btn-profile {
                width: 100%;
                height: 100px;
                display: flex;
                flex-direction: column;
                justify-content: space-around;
                // border: solid 1px white;

                @include mobile {
                    flex-direction: row;
                    height: 60px;
                }

            }
        }

        aside {
            width: 400px;

            @include mobile {
                width: 95%;
                margin: 10px auto;
            }
        }

        .confirm-delete-div {
            width: 100%;
            margin: 20px 0;
            border: solid 1px var(--first-color);;            
            border-radius: 5px;
            display: flex;
            flex-direction: column;
            align-items: center;
            

            p {
                padding: 20px;
            }

            & > div {
                width: 100%;
                display: flex;
                justify-content: space-around;
                padding-bottom: 20px;
            }

            button {
                color: var(--font-color);
                background-color: var(--first-color);

                &:hover {
                    background-color: transparent;
                    color: var(--first-color);
                }
            }
            
        }

        button {
            width: 150px;
            height: fit-content;
            padding: .5rem;
            font-size: 0.7rem;
            color: var(--font-color);
            background-color: var(--first-color);
            border: 3px solid var(--first-color);
            border-radius: 10px;
            text-transform: uppercase;
            cursor: pointer;
            background: transparent;
                    color: var(--first-color);

            letter-spacing: var(--letter-spacing-btn);
            transition: all 0.5s ease-in-out;


                @include tablet {
                    width: 110px;
                    margin: 0 auto;
                    letter-spacing: normal;
                }

                &:hover {
                    background: transparent;
                    color: var(--first-color);
                    transition: all .5s ease;
                    // border-radius: 10px;
                    color: var(--font-color);
                    background-color: var(--first-color);
                }
        }
    }

    .update-user-form-container {
        width: 100%;

        border: solid 1px var(--first-color);;
        border-radius: 5px;
        position: relative;
        padding: 10px;

        h2 {
            margin-bottom: 30px;
            text-decoration: underline;
        }

        form {
            display: flex;
            flex-direction: column;

            label {
                margin-bottom: 5px;
                font-weight: bold;
                font-size: 0.8rem;
                color: var(--first-color);
                text-transform: uppercase;
            }

            input {
                margin-bottom: 15px;
                border: none;
                border-bottom: 2px solid var(--first-color);
                background-color: transparent;
                border-radius: 3px;
                padding: 10px;
                color: white;
                outline: none;
            }

            .btn-form {
                margin-top: 10px;
                display: flex;
                justify-content: flex-end;

                button {
                    color: var(--font-color);
                    background-color: var(--first-color);

                    &:hover {
                        background-color: transparent;
                        color: var(--first-color);
                    }
                }
            }
        }

        button#closeCard {
            
            width: 40px;
            height: 40px;
            border-radius: 50%;
            position: absolute;
            right: -20px;
            top: -20px;
            font-size: 1.8rem;
            padding: 0;
            z-index: 200;
            color: var(--font-color);
            background-color: var(--first-color);
            border: 3px solid var(--first-color);
            cursor: pointer;
    
            &:hover {
                transition: all .5s ease;
                background: transparent;
                color: var(--first-color);
            }
    
            @include tablet {
                font-size: 1.4rem;
            }

            @include mobile {
                width: 30px;
                height: 30px;
                right: -15px;
                top: -15px;
            }
        
        }
    }
}
