// mixin
@import '../../styles/mixin';

.wrapper-login, .wrapper-registration {
    min-height: calc(100vh - 120px);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
}

.main-form {
    width: 450px;
    // border: 1px solid green;

    @include mobile {
        width: 90%;
    }

    .text-form {
        text-align: center;
        text-transform: uppercase;
        margin-bottom: 20px;
        font-size: 1rem;

        &::after {
            content: ' STARTED';
            color: var(--first-color);
        }

        @include tablet {
            font-size: 0.8em;
            padding: 0 2rem;
        }

        @include mobile {
            font-size: 0.6em;
            padding: 0 1rem;
        }
    }

    .form-container {
        width: 100%;
        padding: 20px 30px 0;
        display: grid;
        grid-template-columns: 1fr;

        @include tablet {
            padding: 0;
            margin-top: 50px;
        }

        @include mobile {
            margin-top: 20px;
        }

        label {
            display: flex;
            justify-content: space-between;
            font-weight: bold;
            font-size: 0.7rem;
            margin-bottom: 5px;
            color: var(--first-color);
            text-transform: uppercase;
            margin-left: 10px;

            @include mobile {
                font-size: .6rem;
            }
        }

        input[type=text], input[type=email], input[type=password]{
            border: none;
            border-bottom: 2px solid var(--first-color);
            background-color: transparent;
            color: var(--container-color);
            border-radius: 3px;
            padding: 10px;
            width: 100%;
            margin-bottom: 20px;
            outline: none;

            &::placeholder {
                font-size: .7rem;
            }

            @include mobile {
                font-size: .6rem;
                margin-bottom: 10px;
            }
        }

        .error-para {
            color: red;
            text-transform: capitalize;

            @include mobile {
                font-size: 0.5rem;
            }
        }

        .submit-btn {
            width: 160px;
            padding: .5rem;
            font-size: 0.7rem;
            color: var(--font-color);
            background-color: var(--first-color);
            border: 3px solid var(--first-color);
            border-radius: 10px;
            text-transform: uppercase;
            cursor: pointer;

            letter-spacing: var(--letter-spacing-btn);
            transition: all 0.5s ease-in-out;


            @include mobile {
                width: 140px;
                padding: .2rem;
                margin: 0 auto;
            }

            &:hover {
                background: transparent;
                color: var(--first-color);
                transition: all .5s ease;
                border-radius: 10px;
            }
        }
    }
}

.alert {
    width: 85%;
    height: 30px;
    line-height: 30px;
    margin: 0 auto;
    border-radius: 10px;
    text-align: center;
    font-size: 1.2em;
    color: var(--container-color);
    background-color: var(--first-color);

    display: block;

    @include mobile {
        font-size: .6em;
    }
}

.error {
    width: 85%;
    height: 30px;
    line-height: 30px;
    margin: 0 auto;
    border-radius: 10px;
    text-align: center;
    font: 1.2em;
    color: var(--container-color);
    background-color: red;

    display: block;

    @include mobile {
        font-size: .6em;
    }
}

.hidden {
    display: none;
}