// mixin
@import '../../styles/mixin';

.main-form {
    width: 50%;
    margin: 100px auto;

    @include tablet {
        margin: 150px auto;
    }

    .text-form {
        text-align: center;
        text-transform: uppercase;
        margin-bottom: 30px;
        padding: 0 3.5rem ;
        font-size: 1rem;

        &::after {
            content: ' STARTED.';
            color: var(--first-color);
        }

        @include tablet {
            font-size: 0.8em;
            padding: 0 2rem;
        }

        @include mobile {
            font-size: 0.6em;
            padding: 0 1rem;
        }
    }

    .form-container {
        width: 100%;
        padding: 30px;
        display: grid;
        grid-template-columns: 1fr;

        @include tablet {
            padding: 0;
            margin-top: 50px;
        }

        @include mobile {
            margin-top: 30px;
        }

        label {
            display: flex;
            justify-content: space-between;
            font-weight: bold;
            font-size: 0.7rem;
            margin-bottom: 10px;
            color: var(--first-color);
            text-transform: uppercase;
            margin-left: 10px;

            @include mobile {
                font-size: .6rem;
            }
        }

        input[type=text], input[type=email], input[type=password]{
            border: none;
            border-bottom: 2px solid var(--first-color);
            background-color: transparent;
            color: var(--container-color);
            font-size: .7rem;
            border-radius: 3px;
            padding: 10px;
            width: 100%;
            margin-bottom: 20px;
            outline: none;

            @include mobile {
                font-size: .5rem;
            }
        }

        .error-para {
            color: red;
            text-transform: capitalize;

            @include mobile {
                font-size: 0.5rem;
            }
        }

        .submit-btn {
            width: 20%;
            padding: .5rem;
            font-size: 0.6rem;
            color: var(--font-color);
            background-color: var(--first-color);
            border: 3px solid var(--first-color);
            border-radius: 10px;
            text-transform: uppercase;
            cursor: pointer;

            letter-spacing: var(--letter-spacing-btn);
            transition: all 0.5s ease-in-out;

            @include tablet {
                width: 30%;
            }

            @include mobile {
                width: 50%;
                padding: .4rem;
            }

            &:hover {
                background: transparent;
                color: var(--first-color);
                transition: all .5s ease;
                border-radius: 10px;
            }
        }
    }
}

.alert {
    width: 85%;
    height: 30px;
    line-height: 30px;
    margin: 0 auto;
    border-radius: 10px;
    text-align: center;
    font-size: 1.2em;
    color: var(--container-color);
    background-color: var(--first-color);

    display: block;

    @include mobile {
        font-size: .6em;
    }
}

.error {
    width: 85%;
    height: 30px;
    line-height: 30px;
    margin: 0 auto;
    border-radius: 10px;
    text-align: center;
    font: 1.2em;
    color: var(--container-color);
    background-color: red;

    display: block;

    @include mobile {
        font-size: .6em;
    }
}

.hidden {
    display: none;
}