
@import '../../styles/mixin';

@include tablet {
    #radius {
        border-radius: 0 0 30px 30px;
    }
}

.nav {
    z-index: 10;
    background-color: none;
    // box-shadow: 5px 3px 10px var(--first-color);
    width: 100%;
    // position: absolute;
    // top: 0;
    // left: 0;

    .header-container {
        display: flex;
        justify-content: space-around;
        align-items: center;

        @include tablet {
            #hidden {
                display: none;
            }
            
            display: flex;
            flex-direction: column;
        }

        @include mobile {
            display: flex;
            flex-direction: column;
        }
        
        .link-logo {
            z-index: 100;
        }

        .container-button {
            z-index: 1000;
            display: flex;

            a.active, a:hover {
                text-decoration: 2.5px underline solid var(--first-color);
            }

            @include tablet {
                display: grid;
                grid-template-columns: 1fr;
                gap: 15px;

                margin: 30px auto;
            }

            .tour {
                margin-top: 8px;
                padding-right: 15px;
                font-size: .9em;
                font-weight: 100;
                color: var(--container-color);
                transition: all .5s ease-out;

                position: relative;

                @include tablet {
                    text-align: center;
                }

                @include mobile {
                    font-size: .6em;
                }

                &:hover {
                    color: var(--first-color);
                    transition: all .5s ease-out;
                }
            }

            .registration-btn, .logout-btn {
                width: 100%;
                padding: .4rem;
                font-size: 0.5rem;
                color: var(--font-color);
                background-color: var(--first-color);
                border: 3px solid var(--first-color);
                border-radius: 10px;
                text-transform: uppercase;
                cursor: pointer;
                
                letter-spacing: var(--letter-spacing-btn);
                transition: all 0.5s ease-in-out;
                
                &:hover {
                    background: transparent;
                    color: var(--first-color);
                    transition: all .5s ease;
                    border-radius: 10px;
                }
            }
        }

        .nav-close {
            font-size: 2em;
            font-weight: 700;
            color: var(--container-color);

            display: none;

            &:hover {
                color: var(--first-color);
                cursor: pointer;
            }

            @include tablet {
                display: block;
                position: absolute;
                top: 20px;
                right: 100px;
            }

            @include mobile {
                display: block;
                position: absolute;
                right: 25px;
            }
        }

        .nav-toggle {
            font-size: var(--h2-font-size);
            color: var(--font-color);

            display: none;

            &:hover {
                color: var(--first-color);
                cursor: pointer;
            }

            @include tablet {
                display: block;
                position: absolute;
                top: 25px;
                right: 100px;
            }

            @include mobile {
                right: 25px;
            }
        }
    }
}

