@import "../../styles/mixin";

h1 {
    text-align: center;
}

.movies-title {
    margin: 30px 20px 0;
    color: var(--first-color);
}

.moviesContainer {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    margin: 10px auto;
    position: relative;
    // border: 1px solid red;

    @include mobile {
        flex-wrap: wrap;
    }

    .movieBox {
        margin: 10px;
        border-radius: 10px;
        width: 160px;
        height: 240px;
        position: relative;
        box-shadow: 0 0 6px var(--container-color);
        transition: all .5s ease-in-out;

        @include tablet {
            margin: 7px;
            width: 100px;
            height: 150px;
        }

        &:hover {
            cursor: pointer;
            box-shadow: 0 0 15px var(--first-color);
            transform: scale(1.08, 1.08); 
            transition: all 0.5s ease-in-out;  
        }

        img {
            width: 100%;
            height: 100%;
            border-radius: 10px;
        }

        .posterTitle {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            z-index: 200;
            text-align: center;
            font-size: 1.6rem;
            text-shadow: 0 0 20px black;

            @include tablet {
                font-size: 1rem;
            }

            &:hover {
                box-shadow: none;
            }
        }
    }

    .button-container-next {
        display: flex;
        justify-content: space-around;
        align-items: center;
        padding: 20px 0;
        width: 50px;

        // border: 1px solid blue;

        @include tablet {
            position: absolute; 
            height: 50px;
            right: 0;
            top: 50%;
            transform: translateY(-50%);
            z-index: 200;
        }

        button.next {
            padding: 2px 10px;
            display: inline-block;
            background-color: transparent;
            border: none;
            font-size: 2.3em;
            color: var(--first-color);
    
            &:hover {
                cursor: pointer;
            }
        }
    }

    .button-container-prev {
        display: flex;
        justify-content: space-around;
        align-items: center;
        padding: 20px 0;
        width: 50px;

        // border: 1px solid blue;

        @include tablet {
            position: absolute; 
            height: 50px;
            left: 0;
            top: 50%;
            transform: translateY(-50%);
            z-index: 200;
        }

        button.prev {
            padding: 2px 10px;
            display: inline-block;
            background-color: transparent;
            border: none;
            font-size: 2.3em;
            color: var(--first-color);
    
            &:hover {
                cursor: pointer;
            }
        }
    }
}
