.friends-box {
    //border: solid 1px white;
    width: 100%;
    margin-top: 20px;

    .one-friend-box {
        border-bottom: 1px solid var(--first-color);

        //padding: 30px;

        padding: 20px;
        display: flex;
        align-items: center;
        justify-content: space-between;

        .friend-data {
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: space-between;

            .friend-data-1st-box {
                display: flex;
                padding: 20px;
                align-items: center;

                .avatar {
                    height: 40px;
                    width: 40px;
                    margin-right: 10px;
                    border-radius: 50%;
                    background-color: chocolate;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                }

                .friend-name {
                    line-height: 1.6;
                }
            }

            .friend-buttons-div {
                display: flex;
                flex-direction: column;

                button {
                    margin-top: 5px;
                }
            }
        }
    }
}

.common-movies-card {
    border: solid 2px var(--first-color);
    margin-top: 20px;
    width: 80%;

    h3 {
        color: var(--first-color);
        //text-align: center;

        span {
            text-decoration: underline;
        }
    }

    .one-movie-box {
        border-bottom: 1px solid var(--first-color);
        margin: 10px;
        padding: 30px;
        display: flex;
        justify-content: space-between;

        .one-movie-box-data {
            display: flex;

            img {
                height: 150px;
                margin-right: 10px;
            }

            .movie-data {
                line-height: 1.6;

                p {
                    color: var(--first-color);
                    span {
                        color: white;
                    }
                }
            }
        }
    }
}
