.banner {
    margin-top: -80px;

    .img {
        width: 100%;
    }

    .button-container {
        position: absolute;
        top: 650px;
        left: 125px;

        .discover-button {
            display: flex;
            margin-bottom: 30px;

            h3 {
                padding-right: 40px;
            }

            .discover {
                margin-right: 30px;
                font-size: 1.3em;
                text-transform: uppercase;
                font-weight: 100;
                color: var(--container-color);
                transition: all .5s ease-in-out;

                &:hover {
                    color: var(--first-color);
                    transition: all .5s ease-out;
                }

                &:after {    
                    content: "";
                    position: absolute;
                    top: 22px;
                    left: 65%;
                    width: 0;
                    height: 3px;
                    
                    background: none repeat scroll 0 0 transparent;
                    display: block;
                    background: var(--first-color);
                    transition: width 0.5s ease-in-out 0s, left 0.5s ease-in-out 0s;
                }

                &:hover:after { 
                    width: 24%; 
                    left: 68%;
                }
            }
        }

        .get-button {
            width: 35%;
            padding: .6rem;
            color: var(--font-color);
            background-color: var(--first-color);
            border: 3px solid var(--first-color);
            border-radius: 10px;
            text-transform: uppercase;
            cursor: pointer;

            letter-spacing: var(--letter-spacing-btn);
            transition: all 0.5s ease-in-out;

            &:hover {
                background: transparent;
                color: var(--first-color);
                transition: all .5s ease;
                border-radius: 10px;
            }
        }
    }
}