// importing mixin
@import '../../styles/mixin' ;

.banner {
    margin-top: -80px;

    .img {
        /* Set rules to fill background */
        height: 100vh;
        min-width: 1024px;
        
        /* Set up proportionate scaling */
        width: 100%;
        height: auto;

        /* Set up positioning */
        position: fixed;
        top: 0;
        left: 0;
    }

    .button-container {
        position: absolute;
        bottom: 20px;
        left: 120px;

        @include tablet {
            margin: -50px 0 0 12%;
        }

        @include mobile {
            margin: -80px 0 0 -55px;
        }

        .discover-button {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            margin: 0 0 10px 0;

            .check-h3 {
                margin: 0 -10px 15px 0;
                font-size: 1em;
                color: var(--first-color);

                @include mobile {
                    font-size: 0.8em;
                }
            }

            .span-discover {
                margin: 0 0 10px 0;

                .discover {
                    font-size: .9em;
                    text-transform: uppercase;
                    font-weight: 100;
                    padding-left: 30px;
                    color: var(--container-color);
                    transition: all .5s ease-in-out;

                    @include mobile {
                        font-size: 0.7em;
                    }

                    &:hover {
                        color: var(--first-color);
                        transition: all .5s ease-out;
                    }

                    &:after {    
                        content: "";
                        position: absolute;
                        top: 22px;
                        left: 60%;
                        width: 0;
                        height: 3px;
                    
                        background: none repeat scroll 0 0 transparent;
                        display: block;
                        background: var(--first-color);
                        transition: width 0.5s ease-in-out 0s, left 0.5s ease-in-out 0s;
                    }

                    &:hover:after { 
                        width: 20%; 
                        left: 57%;
                    }
                }
            }
        }

        .get-button {
            width: 33%;
            padding: .3rem;
            font-size: 0.6rem;
            color: var(--font-color);
            background-color: var(--first-color);
            border: 3px solid var(--first-color);
            border-radius: 10px;
            text-transform: uppercase;
            cursor: pointer;

            letter-spacing: var(--letter-spacing-btn);
            transition: all 0.5s ease-in-out;

            &:hover {
                background: transparent;
                color: var(--first-color);
                transition: all .5s ease;
                border-radius: 10px;
            }

            @include mobile {
                font-size: 0.5em;
                padding: .1rem;
            }
        }
    }
}